<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    <title>Dummy</title>
  <% end %>

  <%= yield :head %>

  <%= stylesheet_pack_tag('client-bundle',
                          media: 'all',
                          'data-turbolinks-track': true) %>

  <!--  NOTE: Must use defer and not async to keep async scripts loading in correct order  -->
  <%= javascript_pack_tag('client-bundle', 'data-turbolinks-track': true, defer: true) %>

  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<%= render "shared/header" %>

<%= yield %>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
</html>
