<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    <title>Dummy</title>
  <% end %>

  <%= yield :head %>

  <%= stylesheet_pack_tag(static: 'app-bundle',
                          media: 'all',
                          'data-turbolinks-track': true) %>

  <%= javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true) %>
  <%= javascript_pack_tag('app-bundle', 'data-turbolinks-track': true) %>

  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= yield %>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
</html>
