<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    <title>Dummy</title>
  <% end %>

  <%= yield :head %>

  <%# defer: true is required because this app uses Redux shared stores with inline component
      registration. With async: true, the bundle executes before inline <script> tags, causing
      "Could not find component" errors. See docs/building-features/streaming-server-rendering.md
      for details. Modern apps should move registration to bundles and use async: true. %>
  <%= javascript_pack_tag('client-bundle', 'data-turbo-track': 'reload', defer: true) %>

  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<%= render "shared/header" %>

<%= yield %>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
</html>
