<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= ENV["DISABLE_TURBOLINKS"] ?
      stylesheet_link_tag('application', media: 'all') :
      stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
  <%= ENV["DISABLE_TURBOLINKS"] ?
      javascript_include_tag('application') :
      javascript_include_tag('application_with_turbolinks', 'data-turbolinks-track' => true) %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= yield %>

</body>
</html>
