<ul>
  <li>
    <%= link_to "Hello World Component Client Rendered", client_side_hello_world_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Client Rendered",
                client_side_hello_world_shared_store_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Client Rendered Controller",
                client_side_hello_world_shared_store_controller_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Client Rendered Defer",
                client_side_hello_world_shared_store_defer_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Server Rendered",
                server_side_hello_world_shared_store_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Server Rendered Controller",
                server_side_hello_world_shared_store_controller_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Server Rendered Defer",
                server_side_hello_world_shared_store_defer_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered", server_side_hello_world_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered, with extra options", server_side_hello_world_with_options_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered ES5", server_side_hello_world_es5_path %>
  </li>
  <li>
    <%= link_to "Redux App Server Rendered (Generator Function)", server_side_redux_app_path %>
  </li>
  <li>
    <%= link_to "Redux App Server Rendered (Generator Function) With Fragment Caching", server_side_redux_app_cached_path %>
  </li>
  <li>
    <%= link_to "Client Logging and Throw Error Handling", client_side_log_throw_path %>
  </li>
  <li>
    <%= link_to "Server Logging and Throw Error Handling", server_side_log_throw_path %>
  </li>
  <li>
    <%= link_to "Server Logging and Throw Error Handling Plain JS", server_side_log_throw_plain_js_path %>
  </li>
  <li>
    <%= link_to "Server Logging and Throw Error Handling, raise on server error, redirects", server_side_log_throw_raise_invoker_path %>
  </li>
  <li>
    <%= link_to "render_js only example", render_js_path %>
  </li>
  <li>
    <%= link_to "One Page with Many Examples at Once", root_path %>
  </li>
  <li>
    <%= link_to "Manually Rendered Component", client_side_manual_render_path %>
  </li>
  <li>
    <%= link_to "Deferred Rendering of Async Route", deferred_render_path %>
  </li>
  <li>
    <%= link_to "React Router", react_router_path %>
  </li>
  <li>
    <%= link_to "Pure Component", pure_component_path %>
  </li>
  <li>
    <%= link_to "CSS Modules Images Fonts Example", css_modules_images_fonts_example_path %>
  </li>
  <li>
    <%= link_to "Turbolinks Cache Disabled Example", turbolinks_cache_disabled_path %>
  </li>
  <li>
    <%= link_to "Generator function returns object with renderedHtml", rendered_html_path %>
  </li>
  <li>
    <%= link_to "Generator function returns object with renderedHtml as another object", react_helmet_path %>
  </li>
  <li>
    <%= link_to "Image Example", image_example_path %>
  </li>
  <li>
    <%= link_to "Server Render With Timout", server_render_with_timeout_path %>
  </li>
</ul>
<hr/>
