<ul>
  <li>
    <%= link_to "Hello World Component Client Rendered", client_side_hello_world_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered", server_side_hello_world_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered ES5", server_side_hello_world_es5_path %>
  </li>
  <li>
    <%= link_to "Redux App Server Rendered (Generator Function)", server_side_redux_app_path %>
  </li>
  <li>
    <%= link_to "Redux App Server Rendered (Generator Function) With Fragment Caching", server_side_redux_app_cached_path %>
  </li>
  <li>
    <%= link_to "One Page with Many Examples at Once", root_path %>
  </li>
</ul>
<hr/>
