<!DOCTYPE html>
<html>
<head>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <title>Loadable Components Proof of Concept</title>
  <% end %>

  <%= yield :head %>

  <!--  No CSS yet-->
  <%#= stylesheet_link_tag('foo-bundle') %>

  <!--  TODO: Change to javascript_packs_with_chunks_tag -->
  <%= javascript_pack_tag 'foo-bundle' %>
  <%= javascript_pack_tag 'vendor' %>

  <%= yield :head %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
