<!DOCTYPE html>
<html>
<head>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <title>Loadable Components Proof of Concept</title>
  <% end %>

  <%= javascript_pack_tag 'foo-bundle' %>

  <%= yield :head %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
